<a href="https://colab.research.google.com/github/fralfaro/MAT281_2024/blob/main/docs/labs/lab_031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# MAT281 - Laboratorio N°031

## Problema 01


<img src="https://cdn-icons-png.flaticon.com/512/11651/11651343.png" width="480" height="360" align="center"/>


El conjunto de datos `occupation.csv` consiste en información detallada sobre distintos usuarios, abarcando aspectos como edad, género, profesión y ubicación geográfica. Este conjunto de datos proporciona una visión rica sobre la diversidad de ocupaciones y demografía de una población específica.


**Descripción de las Columnas**

El DataFrame contiene las siguientes columnas, cada una representando un aspecto clave de la información del usuario:

- **`user_id`**: Un identificador único para cada usuario.
- **`age`**: La edad del usuario.
- **`gender`**: El género del usuario, indicado como 'M' (masculino) o 'F' (femenino).
- **`occupation`**: La profesión u ocupación del usuario.
- **`zip_code`**: El código postal del área de residencia del usuario, que puede ser útil para análisis geográficos.

Este conjunto de datos permite realizar una variedad de análisis estadísticos y descriptivos, desde demográficos básicos hasta exploraciones más complejas de las relaciones entre ocupación, edad y ubicación.

In [3]:
import pandas as pd

# load data
url='https://raw.githubusercontent.com/fralfaro/MAT281_2024/main/docs/labs/data/ocupation.csv'

df = pd.read_csv(url, sep="|" )
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

### Descripción General
- **Total de Observaciones**: ¿Cuántas filas tiene el conjunto de datos?
- **Total de Columnas**: ¿Cuántas columnas tiene el conjunto de datos?
- **Nombres de Columnas**: Listar todos los nombres de las columnas.
- **Índice del DataFrame**: Describir cómo está indexado el DataFrame.
- **Tipos de Datos**: Detallar los tipos de datos de cada columna.

In [ ]:
#FIXME


### Estadísticas Descriptivas
- **Resumen Estadístico**: Utilizar .describe() para obtener un resumen estadístico de las columnas pertinentes.
- **Columna de Ocupación**: Visualizar los datos de la columna occupation.

In [4]:
#FIXME


### Análisis de Ocupaciones
- **Cantidad de Ocupaciones Únicas**: ¿Cuántas ocupaciones diferentes existen en el conjunto de datos?
- **Ocupación Más Frecuente**: ¿Cuál es la ocupación que aparece con mayor frecuencia?
- **Distribución de Ocupaciones**: Mostrar la distribución de las 10 ocupaciones más comunes con un gráfico de barras.

In [5]:
#FIXME


### Análisis Demográfico
- **Edad Media de los Usuarios**: Calcular la edad promedio.
- **Edad con Menos Ocurrencia**: Identificar las edades menos comunes.
- **Distribución de la Edad de los Usuarios**: Identificar la distribución de edades.
- **Proporción de Géneros**: Calcular la proporción de usuarios por género.

In [6]:
#FIXME